export(maximum.context)
export(context.algorithm)
export(AIC)
export(BIC)
export(estimate)
export(coef)
export(draw)
export(LogLik)
export(VLMCX)
export(predict)
export(simulate)
S3method(maximum.context, default)
S3method(context.algorithm, default)
S3method(AIC, VLMCX)
S3method(BIC, VLMCX)
S3method(estimate, default)
S3method(coef, VLMCX)
S3method(draw, VLMCX)
S3method(LogLik, VLMCX)
S3method(VLMCX, default)
S3method(simulate, default)
S3method(predict, VLMCX)
S3method(print, VLMCX)
importFrom("berryFunctions", "circle")
importFrom("graphics", "lines", "text", "par")
importFrom("nnet", "multinom")
importFrom("stats", "pchisq", "rnorm")
importFrom("utils", "combn")
